/* A principal mudança é garantir que o .main-container ocupe 100vh */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1080px;
  height: 1920px;  /* Ocupa toda a altura da tela */
  overflow: hidden;
  background-color: black;
  transform: rotate(90deg);  /* Mantém a rotação */
  transform-origin: center;
}

/* O vídeo ocupará 75% da altura do main-container */
.video-container {
  width: 100%;
  height: 100%;  /* 75% da altura */
}

.video-container iframe {
  width: 100%;
  height: 100%;  /* Preenche a área do container */
  border: none;
}

/* O conteúdo ocupará 25% da altura do main-container */
.content {
  width: 100%;
  height: 20%;  /* 25% da altura */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  color: black;

}

.content h2, .content p {
  color: black;
}
